<!--<div class="content">
  <div class="header">{{vacevent?.vacdate | date:'EEEE, dd. MM. yyyy, HH:MM'}}</div>
  <div class="Kapazität">Maximale Personenanzahl: {{vacevent?.maxPers}}</div>
</div>
<a *ngIf="authService.isLoggedinUser() && !full && !authService.isRegistered()"
  class="ui tiny yellow labeled icon button" [routerLink]="['../../register', vacevent?.id]">
  <i class="write icon"></i> Registrieren</a>
<button *ngIf="deletable && authService.isLoggedinAdmin()" class="ui tiny red labeled icon button" (click)="removeVacevent()">
  <i class="remove icon"></i>
  Vacevent löschen
</button>-->


<div class="ui card">
  <div class="content">
    <div class="header">{{vacevent?.vacdate | date:'EEEE, dd. MM. yyyy, HH:MM'}}</div>
  </div>
  <div class="content">
    <p class="ui sub header">Maximale Personenanzahl: {{vacevent?.maxPers}}</p>
  </div>
  <div class="extra content">
    <a *ngIf="authService.isLoggedinAdmin()" class="ui tiny yellow labeled icon button bearbeiten"
[routerLink]="['../../admin', vacevent?.id]">
<i class="write icon"></i> Termin bearbeiten</a> 
    <a *ngIf="authService.isLoggedinUser() && !full && !authService.isRegistered()"
  class="ui tiny yellow labeled icon button" [routerLink]="['../../register', vacevent?.id]">
  <i class="write icon"></i> Registrieren</a>
<button *ngIf="deletable && authService.isLoggedinAdmin()" class="ui tiny red labeled icon button" (click)="removeVacevent()">
  <i class="remove icon"></i>
  Vacevent löschen
</button>
  </div>
  
</div>